.rjsf {
  $s0: map-get($spacing-values, "0");
  $s1: map-get($spacing-values, "1");
  $s2: map-get($spacing-values, "2");
  $s3: map-get($spacing-values, "3");
  $s4: map-get($spacing-values, "4");
  $s5: map-get($spacing-values, "5");
  $s6: map-get($spacing-values, "6");

  .columns.is-gapless:not(:last-child) {
    margin-bottom: $s2;
  }

  // oneOf anyOf
  .panel.panel-default.panel-body {
    padding: $s2 $s3;
  }

  .title-field {
    border-bottom: 1px solid #0003;
  }

  .checkbox.is-small,
  .radio.is-small {
    font-size: $size-7;
    margin-right: $s2;
    & input {
      vertical-align: middle;
      margin-right: $s1;
    }
  }

  .required {
    padding-left: $s1;
    color: $danger;
  }
}
